/* GENERAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f5e0;
}

/* HEADER */
header {
    background-color: #1e434c;
    height: 80px;
    color: #fff;

    display: flex;
    align-items: center;
}

.contenido-cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.contenido-cabecera h1 {
    margin: 0;
    text-align: left;
}

.texto-animado {
    font-weight: 400;
    position: relative;
    overflow: hidden;
}

.texto-animado::after {
    content: '|';
    display: inline-block;
    width: 2px;
    height: 1.3em;
    background: currentColor;
    opacity: 0.8;
    animation: blink 1s steps(2) infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

/* MENU */

.contenido-nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:not(:last-child) {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    position: relative;
}


nav ul li a:hover {
    color: #51ff00;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: transparent;
    transition: width 0.3s ease, background-color 0.3s ease;
}


nav ul li a:hover::after {
    width: 100%;
    background-color: #51ff00;
}


nav ul li a.pagina-actual {
    color: #51ff00;
}

nav ul li a.pagina-actual::after {
    width: 100%;
    background-color: #51ff00;
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 24px;
    }
}




/* MENÚ HAMBURGUESA */
.menu-hamburguesa {
    display: none;
}

.menu-hamburguesa input {
    display: none;
}

.menu-hamburguesa svg {

    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.linea {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;

    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.linea-arriba-abajo {
    stroke-dasharray: 12 63;
}

.menu-hamburguesa input:checked+svg {
    transform: rotate(-45deg);
}

.menu-hamburguesa input:checked+svg .linea-arriba-abajo {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}



@media screen and (max-width: 768px) {
    .menu-hamburguesa {
        display: block;
    }

    .contenido-nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        width: auto;
        background-color: #1e434c;
        padding: 20px 0;
        text-align: center;
    }

    .contenido-nav ul.mostrar {
        display: flex;
        text-align: center;
    }

    .contenido-nav ul li {
        margin: 10px 0;
        width: 100%;
    }


}


/* FOOTER */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

.contenedor-footer {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.seccion-footer {
    flex: 1;
    margin: 0 20px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seccion-footer.contacto {
    flex-grow: 1;
}

.seccion-footer a.enlace-contacto img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.seccion-footer.contacto-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion-footer h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.seccion-footer p {
    font-size: 14px;
    margin-bottom: 10px;
}

.seccion-footer ul {
    list-style-type: none;
    padding: 0;
}

.seccion-footer ul li {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.seccion-footer ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    border-top: 1px solid #444;
}

.iconos-sociales img {
    width: 30px;
}

.iconos-sociales li {
    display: flex;
    align-items: center;
}

.iconos-sociales li span {
    margin-left: 5px;
    font-size: 14px;
}

/* FOOTER RESPONSIVE */
@media (max-width: 768px) {
    .contenedor-footer {
        flex-direction: column;
        align-items: center;
    }
}

/* PAGINA INDEX */
.contenido {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-video {
    width: 90%;
    max-width: 800px;
    margin: 60px 0;
}

.contenedor-video iframe {
    width: 100%;
    height: 450px;
    max-height: 80vh;
}

.contenido-texto {
    margin: 0 20px;
    font-size: 28px;

}

/* RESPONSIVE INDEX */
@media (max-width: 768px) {
    .contenido {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .contenedor-video {
        width: 100%;
        margin: 30px 0;
    }

    .contenedor-video iframe {
        height: 300px;
        max-height: 60vh;
    }

    .contenido-texto {
        font-size: 20px;

    }
}



/* PAGINA CONTACTOS */

.contenedor {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 20px;
}

.izquierda,
.derecha {
    width: 40%;
    padding: 20px;
    border: 1px solid #ccc;
}

.izquierda {
    background-color: #f2f2f2;
}

.derecha {
    background-color: #e6f7ff;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.boton-enviar {
    font-family: inherit;
    font-size: 20px;
    background: rgb(7, 177, 120);
    color: rgb(255, 255, 255);
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
    margin: 10px auto;

}

.boton-enviar span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.boton-enviar .svg-wrapper {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.boton-enviar:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.boton-enviar:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.boton-enviar:hover span {

    transform: translateX(5em);
}

.boton-enviar:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}


/* RESPONSIVE-CONTACTO */
@media only screen and (max-width: 768px) {
    .contenedor {
        flex-direction: column;
        padding: 10px; 
    }

    .izquierda,
    .derecha {
        width: 80%;
        margin: 20px auto ;
       
    }

    .izquierda .boton-enviar,
    .derecha .boton-enviar {
        padding: 0.5em 1em;
        margin: 10px auto; 
    }

    .izquierda .boton-enviar svg,
    .derecha .boton-enviar svg {
        width: 16px; 
        height: 16px;
    }
}